In [1]:
import numpy as np
import pandas as pd

In [2]:
master = pd.read_excel("./data/meta/Master_List.xlsx")
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7529 entries, 0 to 7528
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Subject_ID        7529 non-null   int64
 1   Sample_body_site  7529 non-null   object
 2   Visit_number      7529 non-null   int64
 3   Visit_ID          7529 non-null   object
 4   Type              7529 non-null   object
 5   urls              7529 non-null   object
 6   Age               7529 non-null   int64
 7   Sex               7529 non-null   object
 8   Diagnosis         7529 non-null   object
 9   Race              7529 non-null   object
dtypes: int64(3), object(7)
memory usage: 588.3+ KB

In [8]:
print(f"Sample body site:{master['Sample_body_site'].unique()}")
print(f"Diagnosis:{master['Diagnosis'].unique()}")
print(f"Visit number:{master['Visit_number'].unique()}")
print(f"Type:{master['Type'].unique()}")
print(f"Race:{master['Race'].unique()}")

print(f"Subjects count:{len(master['Subject_ID'].unique())}")
print(f"Visit count:{len(master['Visit_ID'].unique())}")

Sample body site:['feces']
Diagnosis:['CD' 'UC' 'nonIBD']
Visit number:[23  6 28 11 22 25  5  8  4  9 18 19 15 26 20 16 21 14 13 29 27 12  7 30]
Type:['ecs_relab' 'taxonomic_profile' 'pathabundance_relab'
 'genefamilies_relab']
Race:['White' 'Black/White' 'Black or African American' 'Brazilian'
 'White and African American' 'Hispanic/Latino & African American'
 'American Indian or Alaska Native' 'Portugese and Cape Verdean'
 'Hispanic or Latino']
Subjects count:106
Visit count:1339

In [9]:
import os

In [12]:
ecs_dir = "./data/csv/ecs"
ecs_files = os.listdir(ecs_dir)
ecs_files = [os.path.join(ecs_dir, f) for f in ecs_files]
df_ecs = pd.concat(map(pd.read_csv, ecs_files), ignore_index=True)
df_ecs.head()

,Unnamed: 0,id,Abundance_RPKs,Visit_name,Enzyme,Genus
0,5450000,MSM6J2Q1|4.1.1.19|g__Veillonella,0.000004,MSM6J2Q1,4.1.1.19,g__Veillonella
1,5450001,MSM6J2Q1|4.1.1.20|,0.002339,MSM6J2Q1,4.1.1.20,NaN
2,5450002,MSM6J2Q1|4.1.1.20|g__Akkermansia,0.000006,MSM6J2Q1,4.1.1.20,g__Akkermansia
3,5450003,MSM6J2Q1|4.1.1.20|g__Alistipes,0.000049,MSM6J2Q1,4.1.1.20,g__Alistipes
4,5450004,MSM6J2Q1|4.1.1.20|g__Bacteroides,0.001050,MSM6J2Q1,4.1.1.20,g__Bacteroides

In [13]:
len(df_ecs['Visit_name'].unique())

1311

In [14]:
pwy_dir = "./data/csv/pwy"
pwy_files = os.listdir(pwy_dir)
pwy_files = [os.path.join(pwy_dir, f) for f in pwy_files]
df_pwy = pd.concat(map(pd.read_csv, pwy_files), ignore_index=True)
df_pwy.head()

,Unnamed: 0,id,Abundance,Visit_name,PWY,Genus
0,400000,HSM7CZ1V|PWY-1042|g__Haemophilus,0.000064,HSM7CZ1V,PWY-1042,g__Haemophilus
1,400001,HSM7CZ1V|PWY-1042|g__Odoribacter,0.000126,HSM7CZ1V,PWY-1042,g__Odoribacter
2,400002,HSM7CZ1V|PWY-1269|,0.003656,HSM7CZ1V,PWY-1269,NaN
3,400003,HSM7CZ1V|PWY-1269|g__Alistipes,0.000142,HSM7CZ1V,PWY-1269,g__Alistipes
4,400004,HSM7CZ1V|PWY-1269|g__Bacteroides,0.001771,HSM7CZ1V,PWY-1269,g__Bacteroides

In [17]:
len(df_pwy['Visit_name'].unique())

1310

In [16]:
tax_dir = "./data/csv/tax"
tax_files = os.listdir(tax_dir)
tax_files = [os.path.join(tax_dir, f) for f in tax_files]
df_tax = pd.concat(map(pd.read_csv, tax_files), ignore_index=True)
df_tax.head()

,Unnamed: 0,OTU_ID,Metaphlan2_Analysis,Visit_name,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,36,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...,84.78718,HSM7J4ON,k__Bacteria,p__Bacteroidetes,c__Bacteroidia,o__Bacteroidales,f__Bacteroidaceae,g__Bacteroides,NaN
1,37,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,5.97392,HSM7J4ON,k__Bacteria,p__Firmicutes,c__Clostridia,o__Clostridiales,f__Ruminococcaceae,g__Faecalibacterium,NaN
2,38,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...,3.60682,HSM7J4ON,k__Bacteria,p__Bacteroidetes,c__Bacteroidia,o__Bacteroidales,f__Porphyromonadaceae,g__Parabacteroides,NaN
3,39,k__Bacteria|p__Firmicutes|c__Negativicutes|o__...,2.59404,HSM7J4ON,k__Bacteria,p__Firmicutes,c__Negativicutes,o__Selenomonadales,f__Veillonellaceae,g__Dialister,NaN
4,40,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.88994,HSM7J4ON,k__Bacteria,p__Firmicutes,c__Clostridia,o__Clostridiales,f__Lachnospiraceae,g__Roseburia,NaN

In [18]:
len(df_tax['Visit_name'].unique())

1313

In [24]:
master_no_dup = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])
master_no_dup.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
master_no_dup

/tmp/ipykernel_186573/2126144842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_no_dup.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)

      Subject_ID  Visit_number  Visit_ID  Age     Sex Diagnosis   Race
0           2008            23  MSM5LLDE   30  Female        CD  White
4           2008             6  MSM5LLDM   30  Female        CD  White
11          2008            28  MSM6J2LB   30  Female        CD  White
18          2008            11  MSM5LLDU   30  Female        CD  White
25          2008            22  MSM5LLDC   30  Female        CD  White
...          ...           ...       ...  ...     ...       ...    ...
7501        3022            19  CSM7KOOH   69    Male    nonIBD  White
7508        3022             4  CSM67UH7   69    Male    nonIBD  White
7512        3022            22  CSM7KOON   69    Male    nonIBD  White
7516        3022            25  CSM7KOOR   69    Male    nonIBD  White
7522        3022             8  CSM79HGZ   69    Male    nonIBD  White

[1339 rows x 7 columns]

In [25]:
genus_abundances = df_tax.loc[:,["Visit_name", 'Genus', 'Metaphlan2_Analysis']]
genus_abundances.rename(columns={'Visit_name': 'Visit_ID'}, inplace=True)

In [26]:
df_master_tax = pd.merge(master_no_dup, genus_abundances, on='Visit_ID')
df_master_tax

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,Genus,Metaphlan2_Analysis
0,2008,23,MSM5LLDE,30,Female,CD,White,g__Faecalibacterium,40.13839
1,2008,23,MSM5LLDE,30,Female,CD,White,g__Bacteroides,31.11266
2,2008,23,MSM5LLDE,30,Female,CD,White,g__Bifidobacterium,5.41609
3,2008,23,MSM5LLDE,30,Female,CD,White,g__Eubacterium,5.30509
4,2008,23,MSM5LLDE,30,Female,CD,White,g__Alistipes,5.29460
...,...,...,...,...,...,...,...,...,...
38270,3022,8,CSM79HGZ,69,Male,nonIBD,White,g__Dorea,0.02629
38271,3022,8,CSM79HGZ,69,Male,nonIBD,White,g__Odoribacter,0.02236
38272,3022,8,CSM79HGZ,69,Male,nonIBD,White,g__Deinococcus,0.01594
38273,3022,8,CSM79HGZ,69,Male,nonIBD,White,g__Pseudoflavonifractor,0.00926
38274,3022,8,CSM79HGZ,69,Male,nonIBD,White,g__Dysgonomonas,0.00174

In [27]:
genus_abundances.reset_index(inplace=True)
genus_abundances

,index,Visit_ID,Genus,Metaphlan2_Analysis
0,0,HSM7J4ON,g__Bacteroides,84.78718
1,1,HSM7J4ON,g__Faecalibacterium,5.97392
2,2,HSM7J4ON,g__Parabacteroides,3.60682
3,3,HSM7J4ON,g__Dialister,2.59404
4,4,HSM7J4ON,g__Roseburia,0.88994
...,...,...,...,...
38270,38270,CSM7KOUN,g__Holdemania,0.02449
38271,38271,CSM7KOUN,g__Propionibacteriaceae_unclassified,0.02427
38272,38272,CSM7KOUN,g__C2likevirus,0.02108
38273,38273,CSM7KOUN,g__Pseudoflavonifractor,0.00595
38274,38274,CSM7KOUN,g__Ruminococcus,0.00557

In [28]:
genus_abundances.rename(columns={'index': 'idx'}, inplace=True)
genus_abundances

,idx,Visit_ID,Genus,Metaphlan2_Analysis
0,0,HSM7J4ON,g__Bacteroides,84.78718
1,1,HSM7J4ON,g__Faecalibacterium,5.97392
2,2,HSM7J4ON,g__Parabacteroides,3.60682
3,3,HSM7J4ON,g__Dialister,2.59404
4,4,HSM7J4ON,g__Roseburia,0.88994
...,...,...,...,...
38270,38270,CSM7KOUN,g__Holdemania,0.02449
38271,38271,CSM7KOUN,g__Propionibacteriaceae_unclassified,0.02427
38272,38272,CSM7KOUN,g__C2likevirus,0.02108
38273,38273,CSM7KOUN,g__Pseudoflavonifractor,0.00595
38274,38274,CSM7KOUN,g__Ruminococcus,0.00557

In [29]:
genus = genus_abundances.pivot(index='idx', columns='Genus', values='Metaphlan2_Analysis')
genus

Genus,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Acinetobacter,g__Actinobacillus,g__Actinobaculum,g__Actinomyces,g__Adlercreutzia,g__Aerococcus,g__Aggregatibacter,...,g__Tetragenococcus,g__Treponema,g__Tunalikevirus,g__Turicibacter,g__Ureaplasma,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas,g__Yersinia
idx,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
genus['Visit_ID'] = genus_abundances['Visit_ID']
genus

Genus,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Acinetobacter,g__Actinobacillus,g__Actinobaculum,g__Actinomyces,g__Adlercreutzia,g__Aerococcus,g__Aggregatibacter,...,g__Treponema,g__Tunalikevirus,g__Turicibacter,g__Ureaplasma,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas,g__Yersinia,Visit_ID
idx,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSM7J4ON
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSM7J4ON
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSM7J4ON
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSM7J4ON
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HSM7J4ON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOUN
38271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOUN
38272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOUN
38273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOUN
38274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOUN

In [31]:
master_no_dup

      Subject_ID  Visit_number  Visit_ID  Age     Sex Diagnosis   Race
0           2008            23  MSM5LLDE   30  Female        CD  White
4           2008             6  MSM5LLDM   30  Female        CD  White
11          2008            28  MSM6J2LB   30  Female        CD  White
18          2008            11  MSM5LLDU   30  Female        CD  White
25          2008            22  MSM5LLDC   30  Female        CD  White
...          ...           ...       ...  ...     ...       ...    ...
7501        3022            19  CSM7KOOH   69    Male    nonIBD  White
7508        3022             4  CSM67UH7   69    Male    nonIBD  White
7512        3022            22  CSM7KOON   69    Male    nonIBD  White
7516        3022            25  CSM7KOOR   69    Male    nonIBD  White
7522        3022             8  CSM79HGZ   69    Male    nonIBD  White

[1339 rows x 7 columns]

In [32]:
df_master_tax = pd.merge(master_no_dup, genus, on='Visit_ID')

In [33]:
df_master_tax

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,...,g__Tetragenococcus,g__Treponema,g__Tunalikevirus,g__Turicibacter,g__Ureaplasma,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas,g__Yersinia
0,2008,23,MSM5LLDE,30,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,23,MSM5LLDE,30,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,23,MSM5LLDE,30,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,23,MSM5LLDE,30,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,23,MSM5LLDE,30,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38270,3022,8,CSM79HGZ,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38271,3022,8,CSM79HGZ,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38272,3022,8,CSM79HGZ,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38273,3022,8,CSM79HGZ,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38274,3022,8,CSM79HGZ,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_master_tax = df_master_tax.fillna(0.0)
df_master_tax

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,...,g__Tetragenococcus,g__Treponema,g__Tunalikevirus,g__Turicibacter,g__Ureaplasma,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas,g__Yersinia
0,2008,23,MSM5LLDE,30,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2008,23,MSM5LLDE,30,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2008,23,MSM5LLDE,30,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2008,23,MSM5LLDE,30,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2008,23,MSM5LLDE,30,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38270,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38271,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38272,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38273,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38274,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
df_master_tax.to_csv("./data/agg/master_tax.csv")