In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
master = pd.read_excel("../data/meta/Master_List.xlsx")
master.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
#master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'], inplace=True)
unique_master = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])

In [3]:
def visit_stage(visit):
    if visit >= 4 and visit <=9:
        return "stage 1"
    elif visit >= 11 and visit <= 16:
        return "stage 2"
    elif visit >= 18 and visit <= 23:
        return "stage 3"
    elif visit >= 25 and visit <= 30:
        return "stage 4"
    else:
        return "unknown"

def age_group(age):
    if age <= 18:
        return 1
    elif age > 18 and age <= 40:
        return 2
    elif age > 40:
        return 3

In [5]:
unique_master.loc[:, ['age_group']] = unique_master['Age'].apply(lambda age: age_group(age))
unique_master.loc[:, ['visit_stage']] = unique_master['Visit_number'].apply(lambda visit: visit_stage(visit))
unique_master

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3
4,2008,6,MSM5LLDM,30,Female,CD,White,2,stage 1
11,2008,28,MSM6J2LB,30,Female,CD,White,2,stage 4
18,2008,11,MSM5LLDU,30,Female,CD,White,2,stage 2
25,2008,22,MSM5LLDC,30,Female,CD,White,2,stage 3
...,...,...,...,...,...,...,...,...,...
7501,3022,19,CSM7KOOH,69,Male,nonIBD,White,3,stage 3
7508,3022,4,CSM67UH7,69,Male,nonIBD,White,3,stage 1
7512,3022,22,CSM7KOON,69,Male,nonIBD,White,3,stage 3
7516,3022,25,CSM7KOOR,69,Male,nonIBD,White,3,stage 4
7522,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1

In [7]:
unique_master[:, ['age_group']] = unique_master.age_group.astype('category')
unique_master[:, ['visit_stage']] = unique_master.visit_stage.astype('category')

TypeError: unhashable type: 'slice'

In [8]:
unique_master

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3
4,2008,6,MSM5LLDM,30,Female,CD,White,2,stage 1
11,2008,28,MSM6J2LB,30,Female,CD,White,2,stage 4
18,2008,11,MSM5LLDU,30,Female,CD,White,2,stage 2
25,2008,22,MSM5LLDC,30,Female,CD,White,2,stage 3
...,...,...,...,...,...,...,...,...,...
7501,3022,19,CSM7KOOH,69,Male,nonIBD,White,3,stage 3
7508,3022,4,CSM67UH7,69,Male,nonIBD,White,3,stage 1
7512,3022,22,CSM7KOON,69,Male,nonIBD,White,3,stage 3
7516,3022,25,CSM7KOOR,69,Male,nonIBD,White,3,stage 4
7522,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1

In [9]:
unique_master.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1339 entries, 0 to 7522
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Subject_ID    1339 non-null   int64
 1   Visit_number  1339 non-null   int64
 2   Visit_ID      1339 non-null   object
 3   Age           1339 non-null   int64
 4   Sex           1339 non-null   object
 5   Diagnosis     1339 non-null   object
 6   Race          1339 non-null   object
 7   age_group     1339 non-null   category
 8   visit_stage   1339 non-null   category
dtypes: category(2), int64(3), object(4)
memory usage: 86.6+ KB